html {
    font-family: arial;
}

/* header and section 1 */
.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    background-color: #1F2937;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.section1 {
    display: flex;
    padding: 70px;
    justify-content: space-evenly;
    gap: 25px;
    background-color: #1F2937;
}


.top-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}


.image {
    
    width: 60em;
    text-align: center;
    background-color: grey;
}

.text-hero-main {
    
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.text-hero-sec {
    font-size: 18px;
    color: #E5E7EB;

}

/* section 2 */

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px;
    margin-bottom: 20px;
}

.header-section2 {
    font-weight: 800;
    font-size: 36px;
    color: #1F2937;
}

.cards {
    display: flex;
    gap: 50px;

}

.card-txt {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: 70px;
    width: 70px;
    background: white;
    padding: 20px;
    border-style: solid;
    border-color: lightblue;
    border-radius: 10px;
}

.subtext {
    text-align: justify;
    width: 117px;
    font-size: 13px;
    
}

/* section 3 */
.section3 {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
    padding: 30px 100px;

}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
    padding: 0;
    
}

.author {
    font-weight: bold;
    align-self: flex-end;
}

/* html tags */
ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    width: 150px;
  }